Django==2.2.27
djangorestframework==3.11.2
djangorestframework-simplejwt==4.4.0

requests==2.20.0

flake8==3.7.7
pytest==4.0.1

Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0

Unipath==1.1
urllib3==1.25.9

gunicorn==19.8.1

numpy==1.22.3
cython==0.29.28
# jeta==2.18.4
astropy==5.0.1
h5py==3.6.0
tables==3.7.0